.about_me {
  background-color: $color-white;
  display: flex;
  align-items: center;
}


.about__info {
  padding: 2rem;
  margin: 2rem auto;
  background-color: $color-white;
  box-shadow: 0 0 15px 5px hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 90%);
  border-top: 5px solid $color-dominant;
  
  width: 80%;

  @include sm {
    width: 100%;
  }
}

.about__heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about__paragraph {
  color: $color-black;
}

.about__icon {
  display: block;
  text-align: center;
  margin: .5rem auto;
  width: 3rem;
  height: 3rem;
}

.tech_icon {
  background-color: $color-complement_2;
  mask: url('/src/assets/laptop-code.svg') no-repeat center;
}

.edu_icon {
  background-color: $color-complement_2;
  mask: url('/src/assets/user-graduate.svg') no-repeat center;
}
